@model NTR.Models.SchedulePatientViewModel
   
@{
    ViewData["Title"] = "Visit history";
}

<div class="text-center">
    <h1 class="display-4">Visit history</h1>
</div>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => Model.Specialization)
        </dt>
        <dd class = "col-sm-10">
            @Model.Specialization
        </dd>
        <dt class = "col-sm-2">
            Dostor name
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => Model.DoctorName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => Model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => Model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => Model.Description)
        </dt>
    </dl>
        @Html.DisplayFor(model => Model.Description)
    <hr />
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
